<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19 CORONAVIRUS APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Global</ion-card-subtitle>
      <ion-card-title>Coronavirus cases</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <h1>{{update?.cases | number}}</h1>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Global</ion-card-subtitle>
      <ion-card-title>Deaths</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <h1>{{update?.deaths | number}}</h1>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Global</ion-card-subtitle>
      <ion-card-title>Recovered</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <h1>{{update?.recovered | number}}</h1>
    </ion-card-content>
  </ion-card>

</ion-content>
