<ion-header [translucent]="true">
  <ion-toolbar  color = "strong-red">
    <ion-title>
      COVID-19 APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Global Coronavirus Cases:</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <h1>{{update?.cases | number}}</h1>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Global Deaths</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <h1>{{update?.deaths | number}}</h1>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Recovered</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <h1>{{update?.recovered | number}}</h1>
    </ion-card-content>
  </ion-card>

</ion-content>
